/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: 'Glegoo', 'Palatino', 'Times New Roman', serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
    font-family: 'Orbitron', 'Verdana', sans-serif;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: 2fr 2fr 2fr 1fr 2fr 2fr 1fr;
    grid-template-rows:  .5fr .5fr .5fr .5fr 1fr 0fr 5%;
    grid-template-areas:
    "header header header header header header header"
    "pairing pairing pairing arial arial georgia georgia"
    "bobwhite-quail bobwhite-quail bobwhite-quail readability readability readability readability"
    "bobwhite-quail bobwhite-quail bobwhite-quail line-length line-length line-length line-length"
    "typeface typeface typeface typeface helvetica helvetica helvetica"
    "typeface typeface typeface typeface blank blank blank"
    "footer footer footer footer footer footer footer";
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    padding: 3em;
    text-align: center;
    font-size: 30px;
}
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
    padding: 1em;
    padding-top: 4em;
}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
    padding: 1em;
    padding-top: 4em;
}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    padding: 3em;
    margin: 0;
    font-size: 23px;
}
#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 2em;
    padding-right: 0;
    padding-top: 4em;
}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    padding: 2em;
    padding-left: 1em;
    padding-bottom: 0;
    font-size: 20px;
}
#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    padding: 2em;
    padding-left: 1em;
    padding-top: 0;
    padding-bottom: 4em;
    font-size: 20px;
}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    padding: 2em;
    margin: 4em;
    margin-bottom: auto;
}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    padding: 2em;
    text-shadow: .1em .1em black;
    font-size: 15px;
}
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    text-align: center;
    padding: 3rem;
    font-size: 23px;
    color: #000;

}

/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */

@media (max-width: 550px) {
h1{
padding: 1rem
text-align: left;}
  #container {
        grid-template-columns: repeat(1, 4fr);
    }

}
